%span.btn.btn-success.fileinput-button
	%i.icon-plus.icon-white
	%span Select files...
	%input#fileupload{:multiple => "", :name => "attachment[file]", :type => "file"}/
#progress.progress.progress-success.progress-striped{:width => '300px'}
.bar
#files.files
%div.clearfix.lead