%div.container
  %h2 Upload file
  = form_for Attachment.new, :html =>  { :multipart =>  true, :id =>  "fileupload"  } do |f|
    %div{ class: 'row fileupload-buttonbar' }
      %div.span7 
        %span{class: 'btn btn-success fileinput-button' } 
          %i{ class: 'icon-plus icon-white' }
          %span Add files...
          = f.file_field :file 
        %button{ type: "submit", class: 'btn btn-primary start' }
          %i{ class: "icon-upload icon-white"}
          %span Start upload
        %button{ type: "reset", class: 'btn btn-warning cancel' }
          %i{ class: "icon-ban-circle icon-white"}
          %span Cancel upload
        %button{ type: "button", class: 'btn btn-danger delete' }
          %i{ class: 'icon-trash icon-white' }
          %span Delete
        %input{ type: "checkbox", class: 'toggle' }
      %div.span5 
        %div{ class: 'progress progress-success progress-striped active fade' }
          %div{ class: "bar",  style: "width:0%"  }
    %div.fileupload-loading 
    %br 
    %table{ class: "table table-striped" }
      %tbody{ :class => "files", 'data-toggle' => "modal-gallery", 'data-target' => "#modal-gallery"  }
= render 'upload_templates'
