// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tweets > div {
	border-bottom: 1px solid;
}
.truncated {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	height: 50px;
}
#tweets h5 span {
	padding-left: 50px;
	font-size: 1em;
	font-weight: normal;
}
#tweets > div {
	padding: 20px 20px;
}
.search_bar {
	min-height: 50px;
}
#tweets_container {
	width: 85.3%;
	background: white;
	margin: 0;
	padding: 20px;
}