<h1>Edit tweet</h1>

<form id="edit-tweet" name="tweet">
  <div class="actions">
  	<p><input type="text" name="title" value="<%= title %>" /></p>
  	<p><textarea name="content"><%= content %></textarea></p>
    <input type="submit" value="Update Tweet" />
  </div>

</form>

<a href="#tweets">Back</a>