<form id="edit-tweet" name="tweet">
  <div class="actions">
  	<p><input type="text" name="title" value="<%= title %>" /></p>
  	<p><textarea name="content"><%= content %></textarea></p>
    <input type="submit" value="Update Tweet" />
    <input type="button" class="cancel" value="Cancel">
  </div>

</form>
