<h1>Tweets</h1>
<div class="search_bar">
	<form class="navbar-search pull-left">
  		<input name="query" type="text" class="search-query" placeholder="Search" />
	</form>
</div>
<p class="lead"></p>
<div class="row" id="main_container">
	<div class="span2 " id="categories">
	</div>
	<div class="span10" id="tweets_container">
		<div id="add_tweet">
			<a href="#">
				<button class="btn btn-success" type="button"><i class="icon-plus-sign"></i> New Tweet</button>
			</a>
		</div>
		<div id="tweet_form">
		</div>
		<div id="tweets"></div>
	</div>
</div>