<h1>Tweets</h1>
<div class="search_bar">
	<form class="navbar-search pull-left">
  		<input name="query" type="text" class="search-query" placeholder="Search" />
	</form>
</div>
<div>
<a href="#tweets/new">
	<button class="btn btn-success" type="button"><i class="icon-plus-sign"></i> New Tweet</button>
</a></div>
<div id="tweets"></div>