<h5>New tweet</h5>

<form id="new-tweet" name="tweet">
  <div class="actions">
  	<p><input type="text" name="title" /></p>
  	<p><textarea name="content"></textarea></p>
    <input type="submit" value="Create Tweet" />
  </div>

</form>