<div>
	<h5>
		<%= title %>
		<span>
			<a href="#tweets/<%= id %>/edit">
					<i class="icon-edit"></i>
					Edit
			</a>
			<a href="#tweets/<%= id %>/destroy" class="destroy">
				
					<i class="icon-remove"></i> 
					Destroy
				
			</a>
		</span>
	</h5>
	<div class="truncated tweet_content"><%= content %></div>
</div>

