<div class="page-header">
  	<h1>Attachments</h1>
	<span class="btn btn-success fileinput-button">
		<i class="icon-plus icon-white"></i>
		<span>Select files...</span>
		<input id="fileupload" multiple name="attachment[file]" type="file"/>
	</span>
	<div id="progress" class="progress progress-success progress-striped" width ='300px'></div>
	<div class="bar"></div>
	<div id="files" class="files"></div>
	<div class="clearfix lead"></div>

  	<ul class='thumbnails' id='attachments'></ul>
  	<div id="pagination"></div>
</div>
